* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #424240;
color: #EEEBE1;
}
/*font*/
@font-face {
  font-family:'jsMath-cmti10';
  src: url('./fonts\jsmath-cmti10.woff');
  font-style: italic;
}

  /* handjet-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Handjet';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/handjet-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


.navbar {
  display: flex;
  justify-content: space-between; /* to spread out the wordmark and icons */
  align-items: center;
  position: fixed;
  height:60px;
  top: 0;
  left: 0;
  right: 0;
  border-radius:0px 0px 24px 24px;
  background-color: #EEEBE1;
  color: #424240;
  padding: 10px 20px;
  z-index: 1000; /*navbar stays on top */
  border-bottom: 2px dotted #424240;
}        

/* hover link */
a:hover {
 color: 2319E2;
 transition: 2s;
}

.wordmark {
  font-family: 'jsmath-cmti10';
  font-size: 34px;
  text-align: left;
  text-decoration: none;
  flex-grow: 1; /* makes the wordmark take as much space as it needs */
  color:#424240

}

.wordmark:hover {
  color: #2319E2;
  transition: 2s;
}

.nav-icons {
  display: flex;
  align-items: center;
  height:100%
}

.divider {
  width: 1px;
  height: 100%; 
  background-color: #424240;
  margin-right: 20px; /* space between divider and icons */
  position: absolute;
  top:0;
}

.icon {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 24px; /* icon size */
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-icon {
  display: none; /*hidden */
  cursor: pointer;
  margin-left: 20px;
}

/*dropdown menu*/
.dropdown {
  display: none; /* hidden */
  position: absolute;
  top: 40px; 
  right: 0; 
  width:63px;
  background-color:#EEEBE1;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.dropdown.active {
  display: block; /* show when active */
}

.dropdown .icon {
  margin: 10px 0;
}

.image-container {
  margin-top: 60px;
  background-color: #EEEBE1;
  position:relative;
  width:auto;
  height: auto;
  display: block;
  padding-bottom: 20px;

}

.tags {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #424240;
  margin-bottom: 20px;
  word-wrap: break-word;
}

@media (max-width: 475px) {
  /* hide the regular icons on small screens */
  .nav-icons .icon {
      display: none;
  }

  /* show the menu icon on small screens */
  .menu-icon {
      display: block;
  }
}

/* masonry grid */
.masonry-with-columns {
    columns: 4 200px;
    column-gap: .5rem;
  }

  .grid-container {
    margin-top: 60px; 
    border-radius: 24px 24px 0 0;
    background-color:#EEEBE1; 
    overflow: hidden; 
    position: relative;
    z-index: 1; /* grid container stays below nav */
  }

  .masonry-with-columns div {
    width: 150px;
    background: #EEEBE1;
    color: #EEEBE1;
    margin: 0 0rem 0rem 0;
    display: inline-block;
    width: 100%;
    height:fit-content;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    overflow: hidden;
    position: relative;

  }
  .masonry-with-columns div img {
    width:100%;
    height:auto;
    object-fit: cover;
    display: block;
  }

  /* single cell grid */
  .masonry-with-columns div:nth-child(1) {
   height: fit-content;
  
  }
  .masonry-with-columns div:nth-child(2) {
    height: fit-content;
  }
  .masonry-with-columns div:nth-child(3) {
    height: fit-content;  
  }
  .masonry-with-columns div:nth-child(4) {
    height: fit-content;
  }
  .masonry-with-columns div:nth-child(5) {
    height: fit-content;
  }
  .masonry-with-columns div:nth-child(6) {
    height:fit-content; 
  }
  .masonry-with-columns div:nth-child(7) {
    height:fit-content;  
  }
  .masonry-with-columns div:nth-child(8) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(9) {
    height:fit-content; 
  }
  .masonry-with-columns div:nth-child(10) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(11) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(12) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(13) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(14) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(15) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(16) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(17) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(18) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(19) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(20) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(21) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(22) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(23) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(24) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(25) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(26) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(27) {
    height:fit-content;
  }
  .masonry-with-columns div:nth-child(28) {
    height: 404px;
    line-height: 404px;
  }
  .masonry-with-columns div:nth-child(29) {
    height: 209px;
    line-height: 209px;
  }
  .masonry-with-columns div:nth-child(30) {
    height: 349px;
    line-height: 349px;
  }
  .masonry-with-columns div:nth-child(31) {
    height: 140px;
    line-height: 140px;
  }
  .masonry-with-columns div:nth-child(32) {
    height: 212px;
    line-height: 212px;
  }
  .masonry-with-columns div:nth-child(33) {
    height: 324px;
    line-height: 324px;
  }
  .masonry-with-columns div:nth-child(34) {
    height: 251px;
    line-height: 251px;
  }
  .masonry-with-columns div:nth-child(35) {
    height: 238px;
    line-height: 238px;
  }
  .masonry-with-columns div:nth-child(36) {
    height: 410px;
    line-height: 410px;
  }

/* masonry grid */



